<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    
    .container {
      width: 100%;
      margin: 20px auto;
      text-align: center;
    }
    
    .image-upload {
      margin-bottom: 20px;
    }
    
    .image-upload input[type="file"] {
      display: none;
    }
    
    .image-upload .btn {
      cursor: pointer;
    }
    .banner {
      margin-bottom: 50px;
    }
    
    .submit-btn {
      margin-top: 20px;
    }
    
  </style>
  <title>Predict Human or Horse ML App</title>
</head>
<body>
  <!-- Show Banner -->
  <div class="banner">
    <img src="static/images/hhp.png" class="w3-border w3-padding" alt="HHP" style="width: 100%">
  </div>

  <div class="container">
    <form action="/predict" method="post" enctype="multipart/form-data" style="margin-top: 200px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
      <span class="text-left btn btn-default btn-file">
          Upload Image <input type="file" name="image">
      </span>   
      <input type="submit" value="Predict" class="btn btn-primary submit-btn">
    </form>
  </div>
</body>
</html>
